body {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif, Georgia, "Times New Roman", serif;
}

.notesH1 {
  background-color: #0000ff;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
}
.subH{
  color: #6ba3f7;
}
h1 {
  padding: 8px;
  color: #ffffff;
}

.info {
  margin: 10px;
  color: #646464;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}
th {
  background-color: #000;
  color: #fff;
}

.codeBox{
    background-color: #000;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

ul{
  list-style: disc;
}

pre {
  position: relative;
  margin: 10px;
  border-radius: 8px;
  background-color: #2a2a2a;
  overflow: auto;
}